@color2: #5893d6;

a:hover, a:focus {
   color: @color2;
}

@font-face {
   font-family: '腾祥魅黑简';
   src: url('../font/TTMEIHEIJ.TTF') format('truetype');
}

@font-face {
   font-family: 'dsccrystal';
   src: url('../font/CRISTAL.TTF') format('truetype');
   font-weight: normal;
   font-style: normal;
}

//公共部分
@media screen and (min-width: 320px) {
   //   头部
   header {
      height: 450px;
      background-image: url("https://img.sandbox.qixinyun.com/hzlh-finance-bj.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      div.container {
         div.btn-group {
            display: block;
            div.dropdown-toggle {
               box-shadow: none;
               cursor: pointer;
               line-height: 100%;
               span {
                  color: #999;
               }
            }
            .dropdown-menu {
               border-color: @color2;
               &:before {
                  border-bottom-color: @color2;
               }
               > li {
                  > a {
                     color: @color2;
                     &:hover {
                        background-color: @color2;
                        color: #fff;
                     }
                  }
               }
            }
         }
         > ul.ul-dz {
            padding: 15px 0;
            > li {
               padding: 0 8px;
               > a {
                  display: block;
                  color: #fff;
                  font-size: 16px;
                  padding: 0 10px;
                  border: 1px solid transparent;
                  border-radius: 3px;
                  &:hover {
                     border-color: #fff;
                  }
               }
               div.btn-group {
                  div.dropdown-toggle {
                     line-height: 32px;
                     color: #fff;
                     span {
                        color: #fff;
                     }
                  }
               }
            }
         }
         div.head-sec {
            > div {
               padding: 8% 4% 0;
               &.head-le {
                  div {
                     background: rgba(102, 102, 102, 0.9);
                     border-radius: 4px;
                     color: #fff;
                     height: 200px;
                     position: relative;
                     span {
                        position: absolute;
                        &.s3 {
                           font-size: 30px;
                           width: 100%;
                           padding: 0 15px;
                           left: 5px;
                           bottom: 15px;
                        }
                        &.s4 {
                           font-size: 118px;
                           font-family: dsccrystal;
                           line-height: 100%;
                           top: 15px;
                           right: -24px;
                           -webkit-transform: scaleX(0.7);
                           -moz-transform: scaleX(0.7);
                           -ms-transform: scaleX(0.7);
                           -o-transform: scaleX(0.7);
                           transform: scaleX(0.7);
                           letter-spacing: 5px;
                           font-style: italic;
                        }
                        &.s1 {
                           font-size: 66px;
                           font-family: 腾祥魅黑简;
                           left: 15px;
                           line-height: 100%;
                           top: 15px;
                        }
                        &.s2 {
                           font-size: 30px;
                           top: 95px;
                           left: 158px;
                           line-height: 100%;
                        }
                     }
                  }
               }
               &.head-rt {
                  div {
                     height: 88px;
                     border-radius: 4px;
                     background: rgba(255, 255, 255, 0.5);
                     color: #fff;
                     text-align: center;
                     margin-bottom: 22px;
                     box-shadow: 0 0 25px 1px #333;
                     span, a {
                        display: inline-block;
                        vertical-align: middle;
                     }
                     span {
                        line-height: 88px;
                        font-size: 24px;
                     }
                     a {
                        width: 168px;
                        height: 40px;
                        line-height: 40px;
                        background: #ff5d25;
                        border-radius: 20px;
                        color: #fff;
                        font-size: 18px;
                        margin-left: 60px;
                        margin-right: -35px;
                     }
                  }
               }
            }
         }
      }
   }

   //导航
   nav {
      box-shadow: 0 0 10px #999;
      height: 50px;
      margin-bottom: 5px;
      div.row {
         ul.ul1 {
            li {
               font-size: 16px;
               cursor: pointer;
               border-bottom: 2px solid transparent;
               line-height: 48px;
               padding: 0 15px;
               margin-right: 5px;
               &:hover, &.active {
                  color: @color2;
                  border-color: @color2;
               }
            }
         }
         ul.ul2 {
            > li {
               padding: 11px;
               height: 50px;
               > span {
                  font-size: 16px;
                  position: relative;
                  top: 3px;
               }
               div.btn-group {
                  display: block;
                  div.dropdown-toggle {
                     box-shadow: none;
                     cursor: pointer;
                     span {
                        color: #999;
                     }
                  }
                  .dropdown-menu {
                     border-color: @color2;
                     &:before {
                        border-bottom-color: @color2;
                     }
                     > li {
                        > a {
                           color: @color2;
                           &:hover {
                              background-color: @color2;
                              color: #fff;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }

   //   主体
   section {
      background: #fcfcfc;
      div.container {
         //搜索
         div.search {
            padding: 15px 0;
            div.d1 {
               width: 385px;
               height: 37px;
               border: 1px solid #999;
               border-radius: 30px;
               position: relative;
               margin: auto;
               input {
                  display: block;
                  width: 100%;
                  height: 35px;
                  border: none;
                  padding: 2px 50px 2px 12px;
                  background: transparent;
               }
               button {
                  position: absolute;
                  width: 40px;
                  height: 35px;
                  top: 1px;
                  right: 1px;
                  background: transparent;
                  border: none;
                  span {
                     font-size: 18px;
                  }
               }
            }
         }
         //内容
         div.finance-sec {
            display: none;
            &.active {
               display: block;
            }
            div.row {
               margin-left: -15px;
               margin-right: -15px;
               > div {
                  padding: 0 15px;
                  margin-bottom: 30px;
                  div.fina-s {
                     border-radius: 3px;
                     box-shadow: 0 2px 5px #bbb;
                     a.a1 {
                        display: block;
                        img {
                           display: block;
                           width: 100%;
                        }
                     }
                     div.d1 {
                        padding: 0 15px 6px;
                        p.p1 {
                           font-size: 16px;
                           a {
                              float: right;
                              font-size: 14px;
                              color: red;
                           }
                        }
                        p.p2 {
                           color: #8d8d8d;
                           span {
                              float: right;
                           }
                        }
                        p.p3 {
                           color: #999;
                           line-height: 135%;
                        }
                        div {
                           text-align: right;
                           a {
                              display: inline-block;
                              padding: 0 30px;
                              border-radius: 3px;
                              color: #fff;
                              background: #ff6640;
                              &:hover {
                                 background: @color2;
                              }
                           }
                        }
                     }
                  }
               }
            }
            div.xgd {
               margin: 15px 0;
               a {
                  display: block;
                  text-align: center;
                  border-radius: 5px;
                  background: @color2;
                  color: #fff;
                  font-size: 20px;
                  padding: 5px 0;
               }
            }
         }
         //合作机构
         div.cooperation {
            padding: 15px 0 30px;
            div.coop-tit {
               padding-left: 40px;
               span {
                  font-size: 16px;
                  line-height: 100%;
                  border-left: 8px solid #2970c2;
                  padding-left: 10px;
                  color: #7e7e7e;
               }
            }
            div.le_se {
               width: 95%;
               margin: auto;
               position: relative;
               > div.bd {
                  width: 100%;
                  ul {
                     width: 100%;
                     li {
                        float: left;
                        width: 20%;
                        a {
                           display: block;
                           padding: 12px;
                           img {
                              width: 100%;
                              box-shadow: 0 3px 5px #ccc;
                           }
                        }
                     }
                  }
               }
               > a {
                  position: absolute;
                  font-size: 30px;
                  top: 30%;
                  &.prev {
                     right: -30px;
                  }
                  &.next {
                     left: -30px;
                  }
               }
            }
         }
      }
   }

   //   footer
   footer {
      background: @color2;
      padding: 10px 0;
      div.container {
         text-align: center;
         p {
            color: #fff;
            line-height: 150%;
         }
      }
   }
}

//平板
@media screen and (min-width: 768px) and (max-width: 1024px) {
   //   头部
   header {
      height: auto;
      padding-bottom: 20px;
      div.container {
         ul.ul-dz {
            padding: 15px 0;
            li {
               padding: 0 8px;
               a {
                  display: block;
                  color: #fff;
                  font-size: 16px;
                  padding: 0 10px;
                  border: 1px solid transparent;
                  border-radius: 3px;
                  &:hover {
                     border-color: #fff;
                  }
               }
            }
         }
         div.head-sec {
            > div {
               padding: 6% 2% 0;
               &.head-le {
                  div {
                     height: 143px;
                     span {
                        position: absolute;
                        &.s3 {
                           font-size: 18px;
                           width: 100%;
                           padding: 0 15px;
                           left: 5px;
                           bottom: 12px;
                        }
                        &.s4 {
                           font-size: 77px;
                           top: 15px;
                           right: -10px;
                        }
                        &.s1 {
                           font-size: 38px;
                           left: 12px;
                           top: 25px;
                        }
                        &.s2 {
                           font-size: 22px;
                           top: 70px;
                           left: 75px;
                        }
                     }
                  }
               }
               &.head-rt {
                  div {
                     height: 60px;
                     span {
                        line-height: 60px;
                        font-size: 14px;
                     }
                     a {
                        width: 120px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        margin-left: 30px;
                        margin-right: -30px;
                     }
                  }
               }
            }
         }
      }
   }

   //   主体
   section {
      div.container {
         //合作机构
         div.cooperation {
            div.coop-tit {
               padding-left: 0;
            }
            div.le_se {
               > div.bd {
                  ul {
                     li {
                        width: 33%;
                     }
                  }
               }
            }
         }
      }
   }
}

//手机
@media screen and (max-width: 767px) {
   //   头部
   header {
      height: auto;
      padding-bottom: 20px;
      div.container {
         ul.ul-dz {
            padding: 15px 0;
            li {
               padding: 0 8px;
               a {
                  display: block;
                  color: #fff;
                  font-size: 16px;
                  padding: 0 10px;
                  border: 1px solid transparent;
                  border-radius: 3px;
                  &:hover {
                     border-color: #fff;
                  }
               }
            }
         }
         div.head-sec {
            > div {
               padding: 6% 2% 0;
               &.head-le {
                  div {
                     height: 143px;
                     span {
                        position: absolute;
                        &.s3 {
                           font-size: 18px;
                           width: 100%;
                           padding: 0 15px;
                           left: 5px;
                           bottom: 12px;
                        }
                        &.s4 {
                           font-size: 77px;
                           top: 15px;
                           right: -10px;
                        }
                        &.s1 {
                           font-size: 38px;
                           left: 12px;
                           top: 25px;
                        }
                        &.s2 {
                           font-size: 22px;
                           top: 70px;
                           left: 75px;
                        }
                     }
                  }
               }
               &.head-rt {
                  div {
                     height: 60px;
                     span {
                        line-height: 60px;
                        font-size: 14px;
                     }
                     a {
                        width: 120px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 14px;
                        margin-left: 30px;
                        margin-right: -30px;
                     }
                  }
               }
            }
         }
      }
   }

   //导航
   nav {
      div.row {
         > span {
            font-size: 2.4rem;
            padding: 13px 5px;
         }
      }
   }

   //   主体
   section {
      div.container {
         //搜索
         div.search {
            div.d1 {
               width: 100%;
            }
         }
         //内容
         div.finance-sec {
            div.row {
               margin-left: -15px;
               margin-right: -15px;
               > div {
                  padding: 0 15px;
                  margin-bottom: 30px;
                  div.fina-s {
                     border-radius: 3px;
                     box-shadow: 0 2px 5px #999;
                     a.a1 {
                        display: block;
                        img {
                           display: block;
                           width: 100%;
                        }
                     }
                     div.d1 {
                        padding: 0 15px 6px;
                        p.p1 {
                           font-size: 16px;
                           a {
                              float: right;
                              font-size: 14px;
                              color: red;
                           }
                        }
                        p.p2 {
                           color: #8d8d8d;
                           span {
                              float: right;
                           }
                        }
                        p.p3 {
                           color: #999;
                           line-height: 135%;
                        }
                        div {
                           text-align: right;
                           a {
                              display: inline-block;
                              padding: 0 30px;
                              border-radius: 3px;
                              color: #fff;
                              background: #ff6640;
                              &:hover {
                                 background: @color2;
                              }
                           }
                        }
                     }
                  }
               }
            }
            div.xgd {
               margin: 15px 0;
               a {
                  display: block;
                  text-align: center;
                  border-radius: 5px;
                  background: @color2;
                  color: #fff;
                  font-size: 20px;
                  padding: 5px 0;
               }
            }
         }
         //合作机构
         div.cooperation {
            div.coop-tit {
               padding-left: 0;
            }
            div.le_se {
               > div.bd {
                  ul {
                     li {
                        width: 50%;
                     }
                  }
               }
               > a {
                  &.prev {
                     right: -20px;
                  }
                  &.next {
                     left: -20px;
                  }
               }
            }
         }
      }
   }
}