a:hover,
a:focus {
  color: #5893d6;
}
@font-face {
  font-family: '腾祥魅黑简';
  src: url('../font/TTMEIHEIJ.TTF') format('truetype');
}
@font-face {
  font-family: 'dsccrystal';
  src: url('../font/CRISTAL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 320px) {
  header {
    height: 450px;
    background-image: url("https://img.sandbox.qixinyun.com/hzlh-finance-bj.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  header div.container div.btn-group {
    display: block;
  }
  header div.container div.btn-group div.dropdown-toggle {
    box-shadow: none;
    cursor: pointer;
    line-height: 100%;
  }
  header div.container div.btn-group div.dropdown-toggle span {
    color: #999;
  }
  header div.container div.btn-group .dropdown-menu {
    border-color: #5893d6;
  }
  header div.container div.btn-group .dropdown-menu:before {
    border-bottom-color: #5893d6;
  }
  header div.container div.btn-group .dropdown-menu > li > a {
    color: #5893d6;
  }
  header div.container div.btn-group .dropdown-menu > li > a:hover {
    background-color: #5893d6;
    color: #fff;
  }
  header div.container > ul.ul-dz {
    padding: 15px 0;
  }
  header div.container > ul.ul-dz > li {
    padding: 0 8px;
  }
  header div.container > ul.ul-dz > li > a {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  header div.container > ul.ul-dz > li > a:hover {
    border-color: #fff;
  }
  header div.container > ul.ul-dz > li div.btn-group div.dropdown-toggle {
    line-height: 32px;
    color: #fff;
  }
  header div.container > ul.ul-dz > li div.btn-group div.dropdown-toggle span {
    color: #fff;
  }
  header div.container div.head-sec > div {
    padding: 8% 4% 0;
  }
  header div.container div.head-sec > div.head-le div {
    background: rgba(102, 102, 102, 0.9);
    border-radius: 4px;
    color: #fff;
    height: 200px;
    position: relative;
  }
  header div.container div.head-sec > div.head-le div span {
    position: absolute;
  }
  header div.container div.head-sec > div.head-le div span.s3 {
    font-size: 30px;
    width: 100%;
    padding: 0 15px;
    left: 5px;
    bottom: 15px;
  }
  header div.container div.head-sec > div.head-le div span.s4 {
    font-size: 118px;
    font-family: dsccrystal;
    line-height: 100%;
    top: 15px;
    right: -24px;
    -webkit-transform: scaleX(0.7);
    -moz-transform: scaleX(0.7);
    -ms-transform: scaleX(0.7);
    -o-transform: scaleX(0.7);
    transform: scaleX(0.7);
    letter-spacing: 5px;
    font-style: italic;
  }
  header div.container div.head-sec > div.head-le div span.s1 {
    font-size: 66px;
    font-family: 腾祥魅黑简;
    left: 15px;
    line-height: 100%;
    top: 15px;
  }
  header div.container div.head-sec > div.head-le div span.s2 {
    font-size: 30px;
    top: 95px;
    left: 158px;
    line-height: 100%;
  }
  header div.container div.head-sec > div.head-rt div {
    height: 88px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    text-align: center;
    margin-bottom: 22px;
    box-shadow: 0 0 25px 1px #333;
  }
  header div.container div.head-sec > div.head-rt div span,
  header div.container div.head-sec > div.head-rt div a {
    display: inline-block;
    vertical-align: middle;
  }
  header div.container div.head-sec > div.head-rt div span {
    line-height: 88px;
    font-size: 24px;
  }
  header div.container div.head-sec > div.head-rt div a {
    width: 168px;
    height: 40px;
    line-height: 40px;
    background: #ff5d25;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    margin-left: 60px;
    margin-right: -35px;
  }
  nav {
    box-shadow: 0 0 10px #999;
    height: 50px;
    margin-bottom: 5px;
  }
  nav div.row ul.ul1 li {
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 48px;
    padding: 0 15px;
    margin-right: 5px;
  }
  nav div.row ul.ul1 li:hover,
  nav div.row ul.ul1 li.active {
    color: #5893d6;
    border-color: #5893d6;
  }
  nav div.row ul.ul2 > li {
    padding: 11px;
    height: 50px;
  }
  nav div.row ul.ul2 > li > span {
    font-size: 16px;
    position: relative;
    top: 3px;
  }
  nav div.row ul.ul2 > li div.btn-group {
    display: block;
  }
  nav div.row ul.ul2 > li div.btn-group div.dropdown-toggle {
    box-shadow: none;
    cursor: pointer;
  }
  nav div.row ul.ul2 > li div.btn-group div.dropdown-toggle span {
    color: #999;
  }
  nav div.row ul.ul2 > li div.btn-group .dropdown-menu {
    border-color: #5893d6;
  }
  nav div.row ul.ul2 > li div.btn-group .dropdown-menu:before {
    border-bottom-color: #5893d6;
  }
  nav div.row ul.ul2 > li div.btn-group .dropdown-menu > li > a {
    color: #5893d6;
  }
  nav div.row ul.ul2 > li div.btn-group .dropdown-menu > li > a:hover {
    background-color: #5893d6;
    color: #fff;
  }
  section {
    background: #fcfcfc;
  }
  section div.container div.search {
    padding: 15px 0;
  }
  section div.container div.search div.d1 {
    width: 385px;
    height: 37px;
    border: 1px solid #999;
    border-radius: 30px;
    position: relative;
    margin: auto;
  }
  section div.container div.search div.d1 input {
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    padding: 2px 50px 2px 12px;
    background: transparent;
  }
  section div.container div.search div.d1 button {
    position: absolute;
    width: 40px;
    height: 35px;
    top: 1px;
    right: 1px;
    background: transparent;
    border: none;
  }
  section div.container div.search div.d1 button span {
    font-size: 18px;
  }
  section div.container div.finance-sec {
    display: none;
  }
  section div.container div.finance-sec.active {
    display: block;
  }
  section div.container div.finance-sec div.row {
    margin-left: -15px;
    margin-right: -15px;
  }
  section div.container div.finance-sec div.row > div {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  section div.container div.finance-sec div.row > div div.fina-s {
    border-radius: 3px;
    box-shadow: 0 2px 5px #bbb;
  }
  section div.container div.finance-sec div.row > div div.fina-s a.a1 {
    display: block;
  }
  section div.container div.finance-sec div.row > div div.fina-s a.a1 img {
    display: block;
    width: 100%;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 {
    padding: 0 15px 6px;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p1 {
    font-size: 16px;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p1 a {
    float: right;
    font-size: 14px;
    color: red;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p2 {
    color: #8d8d8d;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p2 span {
    float: right;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p3 {
    color: #999;
    line-height: 135%;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 div {
    text-align: right;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 div a {
    display: inline-block;
    padding: 0 30px;
    border-radius: 3px;
    color: #fff;
    background: #ff6640;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 div a:hover {
    background: #5893d6;
  }
  section div.container div.finance-sec div.xgd {
    margin: 15px 0;
  }
  section div.container div.finance-sec div.xgd a {
    display: block;
    text-align: center;
    border-radius: 5px;
    background: #5893d6;
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
  }
  section div.container div.cooperation {
    padding: 15px 0 30px;
  }
  section div.container div.cooperation div.coop-tit {
    padding-left: 40px;
  }
  section div.container div.cooperation div.coop-tit span {
    font-size: 16px;
    line-height: 100%;
    border-left: 8px solid #2970c2;
    padding-left: 10px;
    color: #7e7e7e;
  }
  section div.container div.cooperation div.le_se {
    width: 95%;
    margin: auto;
    position: relative;
  }
  section div.container div.cooperation div.le_se > div.bd {
    width: 100%;
  }
  section div.container div.cooperation div.le_se > div.bd ul {
    width: 100%;
  }
  section div.container div.cooperation div.le_se > div.bd ul li {
    float: left;
    width: 20%;
  }
  section div.container div.cooperation div.le_se > div.bd ul li a {
    display: block;
    padding: 12px;
  }
  section div.container div.cooperation div.le_se > div.bd ul li a img {
    width: 100%;
    box-shadow: 0 3px 5px #ccc;
  }
  section div.container div.cooperation div.le_se > a {
    position: absolute;
    font-size: 30px;
    top: 30%;
  }
  section div.container div.cooperation div.le_se > a.prev {
    right: -30px;
  }
  section div.container div.cooperation div.le_se > a.next {
    left: -30px;
  }
  footer {
    background: #5893d6;
    padding: 10px 0;
  }
  footer div.container {
    text-align: center;
  }
  footer div.container p {
    color: #fff;
    line-height: 150%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    height: auto;
    padding-bottom: 20px;
  }
  header div.container ul.ul-dz {
    padding: 15px 0;
  }
  header div.container ul.ul-dz li {
    padding: 0 8px;
  }
  header div.container ul.ul-dz li a {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  header div.container ul.ul-dz li a:hover {
    border-color: #fff;
  }
  header div.container div.head-sec > div {
    padding: 6% 2% 0;
  }
  header div.container div.head-sec > div.head-le div {
    height: 143px;
  }
  header div.container div.head-sec > div.head-le div span {
    position: absolute;
  }
  header div.container div.head-sec > div.head-le div span.s3 {
    font-size: 18px;
    width: 100%;
    padding: 0 15px;
    left: 5px;
    bottom: 12px;
  }
  header div.container div.head-sec > div.head-le div span.s4 {
    font-size: 77px;
    top: 15px;
    right: -10px;
  }
  header div.container div.head-sec > div.head-le div span.s1 {
    font-size: 38px;
    left: 12px;
    top: 25px;
  }
  header div.container div.head-sec > div.head-le div span.s2 {
    font-size: 22px;
    top: 70px;
    left: 75px;
  }
  header div.container div.head-sec > div.head-rt div {
    height: 60px;
  }
  header div.container div.head-sec > div.head-rt div span {
    line-height: 60px;
    font-size: 14px;
  }
  header div.container div.head-sec > div.head-rt div a {
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-left: 30px;
    margin-right: -30px;
  }
  section div.container div.cooperation div.coop-tit {
    padding-left: 0;
  }
  section div.container div.cooperation div.le_se > div.bd ul li {
    width: 33%;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: auto;
    padding-bottom: 20px;
  }
  header div.container ul.ul-dz {
    padding: 15px 0;
  }
  header div.container ul.ul-dz li {
    padding: 0 8px;
  }
  header div.container ul.ul-dz li a {
    display: block;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  header div.container ul.ul-dz li a:hover {
    border-color: #fff;
  }
  header div.container div.head-sec > div {
    padding: 6% 2% 0;
  }
  header div.container div.head-sec > div.head-le div {
    height: 143px;
  }
  header div.container div.head-sec > div.head-le div span {
    position: absolute;
  }
  header div.container div.head-sec > div.head-le div span.s3 {
    font-size: 18px;
    width: 100%;
    padding: 0 15px;
    left: 5px;
    bottom: 12px;
  }
  header div.container div.head-sec > div.head-le div span.s4 {
    font-size: 77px;
    top: 15px;
    right: -10px;
  }
  header div.container div.head-sec > div.head-le div span.s1 {
    font-size: 38px;
    left: 12px;
    top: 25px;
  }
  header div.container div.head-sec > div.head-le div span.s2 {
    font-size: 22px;
    top: 70px;
    left: 75px;
  }
  header div.container div.head-sec > div.head-rt div {
    height: 60px;
  }
  header div.container div.head-sec > div.head-rt div span {
    line-height: 60px;
    font-size: 14px;
  }
  header div.container div.head-sec > div.head-rt div a {
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-left: 30px;
    margin-right: -30px;
  }
  nav div.row > span {
    font-size: 2.4rem;
    padding: 13px 5px;
  }
  section div.container div.search div.d1 {
    width: 100%;
  }
  section div.container div.finance-sec div.row {
    margin-left: -15px;
    margin-right: -15px;
  }
  section div.container div.finance-sec div.row > div {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  section div.container div.finance-sec div.row > div div.fina-s {
    border-radius: 3px;
    box-shadow: 0 2px 5px #999;
  }
  section div.container div.finance-sec div.row > div div.fina-s a.a1 {
    display: block;
  }
  section div.container div.finance-sec div.row > div div.fina-s a.a1 img {
    display: block;
    width: 100%;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 {
    padding: 0 15px 6px;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p1 {
    font-size: 16px;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p1 a {
    float: right;
    font-size: 14px;
    color: red;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p2 {
    color: #8d8d8d;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p2 span {
    float: right;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 p.p3 {
    color: #999;
    line-height: 135%;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 div {
    text-align: right;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 div a {
    display: inline-block;
    padding: 0 30px;
    border-radius: 3px;
    color: #fff;
    background: #ff6640;
  }
  section div.container div.finance-sec div.row > div div.fina-s div.d1 div a:hover {
    background: #5893d6;
  }
  section div.container div.finance-sec div.xgd {
    margin: 15px 0;
  }
  section div.container div.finance-sec div.xgd a {
    display: block;
    text-align: center;
    border-radius: 5px;
    background: #5893d6;
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
  }
  section div.container div.cooperation div.coop-tit {
    padding-left: 0;
  }
  section div.container div.cooperation div.le_se > div.bd ul li {
    width: 50%;
  }
  section div.container div.cooperation div.le_se > a.prev {
    right: -20px;
  }
  section div.container div.cooperation div.le_se > a.next {
    left: -20px;
  }
}
